<div class="col-sm-12 new-property-div" ng-show="showForm">
  <input type="text" placeholder="name" name="newPropertyName" ng-model="newProperty.name" class="col-sm-4">
  <select class="col-sm-4" name="newPropertyType" ng-model="newProperty.type">
    <option value='' ng-disabled="true">Type</option>
    <option value='array'>Array</option>
    <option value='object'>Object</option>
    <option value='string'>String</option>
    <option value='number'>Number</option>
  </select>
  <button class="col-sm-4 btn btn-default btn-xs" ng-click='addProperty()' ng-disabled="!newProperty.name || !newProperty.type">Add</button>
</div>
<div class="col-sm-12 new-property-button-div" ng-show="!showForm">
  <button class="btn btn-default btn-xs" ng-click="showForm = true">&#43;</button>
</div>
