<button class="json-delete" ng-click="deleteProperty(key, parent)">&times;</button>
<label ng-hide="isArray(parent)" class="json-form-element">
  {{key}}:
  <span ng-show="isNested(value) && isArray(value)">[</span>
  <span ng-show="isNested(value) && !isArray(value)">{</span>
</label>
<label ng-show="isNested(value) && !isArray(value)  && isArray(parent)" class="json-form-element">{</label>
<div ng-if="isNested(value)" class="nested-json">
  <div ng-repeat="(key, value) in parent[key] track by key" ng-init="parent = child; child = value" class="json-form-row" ng-include="'../src/jsonNestTemplate.view.html'">
  </div>
</div>
<div ng-if="!isNested(value)" class="json-form-element">
  <input type="{{getInputType(value)}}" name="{{key}}" ng-model="parent[key]" class="json-input" required>
</div>

<div json-editor-add-property object="value" newProperty="{}" class="" ng-show="isNested(value)">
</div>

<label ng-show="isNested(value)" class="json-form-element">{{isArray(value) ? ']' : '}'}}</label>
