
.json-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;

  * {
    box-sizing: border-box;
  }

  .json-form-div {
    height: 100%;
    position: relative;

    .json-delete-highlight {
      background-color: rgba(200, 0, 0, 0.2);
    }

    .json-button {
      height: 19px;
      min-width: 16px;
      padding: 0;
      background: none;
      border: none;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }

    .json-delete {
      height: 100%;
      width: 30px;
      line-height: 30px;
    }

    .value-field {
      margin-left: 5px;
    }

    .json-form {
      width: 100%;
      padding: 5px;

      .padded-row {
        margin-left: 12px;
      }

      .label-wrapper {
        width: 100%;
        height: 30px;
        display: flex;
        margin-left: 0;
        padding-left: 12px;
        justify-content: space-between;
        align-items: center;

        &:not(.padded-row) {
          * {
            cursor: pointer;
          }
          .json-arrow {
            content: " ";
            margin-right: 5px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #000;
          }

          .json-form-element {
            display: flex;
            align-items: center;
          }

          &.json-collapsed-row {
            .json-arrow {
              transform: rotate(-90deg);
            }
          }
        }

        &:hover {
          background-color: #DDD;
        }

        &.json-collapsed-row {
          & + .nested-json {
            display: none;
          }
        }

        .key-span {
          font-weight: 600;
        }

        &.json-closing-brace:hover {
          cursor: default;
          background-color: inherit;
        }
      }

      .json-closing-brace{
        font-weight: 600;
      }

      .json-form-element {
        display: inline-block;
      }

      .json-input-div {
        display: inline-block;

        .json-input {
          height: 25px;
          padding-top: 0;
          padding-bottom: 0;
          background: transparent;
          cursor: pointer;
          border: none;
        }
      }

      .json-form-row {
        margin-left: 10px;
      }

      .nested-json {
        min-height: 20px;

        .json-add-input {
          margin-right: 4px;
        }
      }
    }

    .json-brackets {
      display: block;
      padding: 8px 0 0 0;
    }

    .new-button-div {
      padding: 5px 15px;
    }
  }
}