.json-container {
  height: 100%;
  overflow-y: scroll;

  .json-form-div {
    height: 100%;
    overflow-y: scroll;

    .json-button {
      height: 16px;
      width: 16px;
      padding: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .json-form {
      width: 100%;
      display: inline-block;
      padding: 4px 8px 0 8px;

      .json-form-element {
        display: inline-block;
        padding: 4px 8px 0 8px;

        .json-input {
          height: 25px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .json-form-row {
        padding-top: 5px;
        padding-left: 10px;
      }

      .nested-json {
        min-height: 20px;
      }
    }

    .json-brackets {
      display: block;
      padding: 8px 0 0 0;
    }

    .json-new-property {
      padding: 8px 0 0 0;
    }

    .new-button-div {
      padding: 5px 15px;
    }
  }
}